.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-box {
    background-color: #f7f7f7;
    padding: 24px;
    width: 500px;
    border-radius: 6px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-btn{
    margin: auto!important;
    display: flex!important;
}

@media screen and (max-width: 540px){
    .login-box{
        margin: 10px;
    }
}