.login {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* width: 100%; */
    height: calc(100vh - 40px);
}

.login-box {
    background-color: var(--card-bg);
    padding: 40px 24px;
    width: 500px;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-text {
    text-align: center;
}

.login-text .text1 {
    font-size: 30px;
    color: var(--primary-color);
    background-clip: text;
    margin: 0;
}

.login-text .text2 {
    font-size: 18px;
    color: var(--secondary-color);
    margin-top: 0;
    font-weight: 500;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-btn {
    margin: auto !important;
    display: flex !important;
    background: var(--primary-color);
}

.login-btn:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.username,
.password {
    color: var(--primary-color);
    transition: .3s ease;
}

.forgot-password a {
    color: var(--secondary-color);
}

.forgot-password a:hover {
    color: var(--primary-color);
}

.forgot-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 540px) {
    .login-box {
        margin: 10px;
    }
}