.login {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* width: 100%; */
    height: calc(100vh - 40px);
}

.login-box {
    background-color: #f8f8fb00;;
    padding: 40px 24px;
    width: 500px;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-text{
    text-align: center;
}

.login-text .text1{
    font-size: 30px;
    background-image: linear-gradient(0deg,rgba(34, 184, 195, 1) 0%, rgba(45, 100, 253, 1) 100%);
    color: transparent;
    background-clip: text;
    margin: 0;
}

.login-text .text2{
    font-size: 18px;
    color: #0000008a;
    margin-top: 0;
    font-weight: 500;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.login-btn{
    margin: auto!important;
    display: flex!important;
    background: linear-gradient(0deg,rgba(34, 184, 195, 1) 0%, rgba(45, 100, 253, 1) 100%);
}

.login-btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.username, .password{
    color: #2268c3;
    transition: .3s ease;
}


@media screen and (max-width: 540px){
    .login-box{
        margin: 10px;
    }
}