.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 4%) 0px 14px 28px, rgb(0 0 0 / 0%) 0px 10px 10px;
}

.logo{
    color: #0000008a;
    font-size: 20px;
    font-weight: 600;
}

.setting{
    border: none!important;
    background: none!important;
}


.setting-icon{
    color: #0000008a;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    animation: spin 5s linear infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}