.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgb(100 100 111 / 4%) 0px 7px 29px 0px;
}

.logo{
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 600;
}
