@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html,
body,
#root,
.app,
.content{
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --bg-color: #f7f7f7;
  --card-bg:#f8f8fb00;
  --text-color: #1a1a1a;
  --primary-color: #2d64fd;
  --secondary-color: #0000008a;
  --border-color: #e5e7eb;
}

.app{
  display: flex;
  position: relative;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
  background: #888;
}

::-webkit-scrollbar-thumb:hover{
  background: #555;
}