.setting{
    border: none!important;
    background: none!important;
}

.setting-icon{
    color: var(--secondary-color);
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    /* animation: spin 5s linear infinite; */
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.settings-sidebar{
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
  padding: 20px;
}

.close-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

